@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

.main-business-container {
    position: relative;
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .9)), url("../assets/coffeeShopImage.png");
    background-size: cover; 
    width: 80%;
    height: 90%;
    border-radius: 25px;
    margin-bottom: 80px;
}

.business-content {
    height: 100%;
    box-sizing: border-box;
    gap: 0px;
    padding: 50px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.business-name {
    color: white;
    text-shadow: 0px 0px 2px black;
    margin: 0;
    font-size: 50px;
}

.business-type {
    color: white;
    text-shadow: 0px 0px 2px black;
    font-size: 30px;
    margin: 0;
    font-family: 'Afacad', sans-serif;
}

.business-description {
    color: white;
    font-size: 30px;
    text-shadow: 0px 0px 2px black;
    overflow: auto;
    font-family: 'Afacad', sans-serif;
}

.business-buttons {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.like-icon,
.dislike-icon {
    height: 90px;
    width: 90px;
}

.dislike-icon {
    margin-right: 30px;
}

.like-icon {
    margin-left: 30px;
}

.verified-icon {
    height: 40px;
    width: 40px;
    margin-left: 10px;
}
